.itemTitle {
    padding-top: 4%;
    color: #D81159;
    font-family: Cairo;
    font-size: 24.408px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.628px;
    /* 72.222% */
    letter-spacing: 0.244px;
    text-transform: capitalize;
}

.itemAdd {
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 14.408px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 4.068px;
    background: #36558F;
    box-shadow: 6.780128479003906px 4.06807756;
    padding: 10px
}


.itemP {
    color: #707C97;
    font-family: Cairo;
    font-size: 10.848px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.628px;
    /* 162.5% */
    text-transform: capitalize;
}
.itemImg {

    border-radius: 100%;
  
  }
.itemImgLog {
    width: 5%;
    height: 5%;
}


.itemInf {
    display: flex;
    justify-content: space-between;
}

.chatInf {
    display: flex;
    justify-content: space-between;
    border-radius: 4.068px 4.068px 0px 0px;
    background: #FAFBFF;
}

.itemInfDet {
    color: #4298F3;
    text-align: center;
    font-family: Cairo;
    font-size: 10.848px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.itemChat {
    padding: 10%;
    border-radius: 4.068px;
    background-color: #fffbfd;
}

.itemIcoFile {
    padding: 10px;
    color: #355B99;
    font-family: Cairo;
    font-size: 12.492px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.628px;
    /* 185.714% */
    text-transform: uppercase;
    border-radius: 13.56px;
    background: #E9F1FE;
}

.itemIcoPho {
    padding: 10px;
    color: #F36;
    font-family: Cairo;
    font-size: 12.492px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.628px;
    /* 185.714% */
    letter-spacing: -0.095px;
    text-transform: capitalize;
    border-radius: 13.56px;
    background: rgba(255, 51, 102, 0.25);
}

.itemIcoVideo {
    padding: 10px;
    border-radius: 13.56px;
    background: rgba(0, 195, 5, 0.25);
    color: #00C305;
    font-family: Cairo;
    font-size: 12.492px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.628px;
    /* 185.714% */
    text-transform: capitalize;
}

.itemChatUsed {
    padding: 10%;
    border-radius: 4.068px;
    background: linear-gradient(135deg, #36558F 0%, #2A8BF2 100%);
    color: #FFF;
    text-align: center;
    font-family: Cairo;
    font-size: 10.848px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.itemInfName {
    padding: 0px;
    margin: 0px;
    color: #0D1C2E;
    text-align: center;
    font-family: Cairo;
    font-size: 12.204px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.itemInfLast {
    padding: 0px;
    margin: 0px;
    color: rgba(187, 178, 178, 0.75);
    text-align: center;
    font-family: Cairo;
    font-size: 10.848px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
}

.chatMsSe1P {
    border-radius: 0px 6.78px 6.78px 6.78px;
    background: linear-gradient(135deg, #36558F 0%, #2A8BF2 100%);
    box-shadow: 6.780128479003906px 6.780128479003906px 33.90064239501953px 0px rgba(42, 139, 242, 0.10), 10.17019271850586px 10.17019271850586px 23.730449676513672px 0px rgba(42, 139, 242, 0.05), 6.780128479003906px 6.780128479003906px 16.950321197509766px 0px rgba(42, 139, 242, 0.10);
}
.chatMsSe2  {
    padding-left: 12%;
    
}
.chatMsSe2P {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 0px 6.78px 6.78px 6.78px;
    background: linear-gradient(135deg, #36558F 0%, #2A8BF2 100%);
    box-shadow: 6.780128479003906px 6.780128479003906px 33.90064239501953px 0px rgba(42, 139, 242, 0.10), 10.17019271850586px 10.17019271850586px 23.730449676513672px 0px rgba(42, 139, 242, 0.05), 6.780128479003906px 6.780128479003906px 16.950321197509766px 0px rgba(42, 139, 242, 0.10);
}
.chatMsRespP{
    color: #707C97;
font-family: Cairo;
font-size: 10.848px;
font-style: normal;
font-weight: 400;
line-height: 17.628px; /* 162.5% */
text-transform: capitalize;
padding-bottom: 0px;
margin-bottom: 0px;
}
.chatMsData{
    color: rgba(112, 124, 151, 0.70);
font-family: Cairo;
font-size: 9.492px;
font-style: normal;
font-weight: 400;
line-height: 17.628px;
text-transform: lowercase;
padding: 0px;
margin: 0px;
}

 
.chatIcoApp {
    margin: 2px;
    border-radius: 50% !important; 
    background-color: #36558F !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:  #4298F3;

    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}