.title {
    color: #36558F;
    font-family: Cairo;
    font-size: 25.889px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



.item1Bg {
    color: var(--gray-1, #333);
    text-align: start;
    font-family: Cairo;
    font-size: 16.181px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item1Po {
    color: var(--gray-2, #4F4F4F);
    font-family: Cairo;
    font-size: 11.326px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item2M {
    color: var(--gray-1, #333);
    font-family: Cairo;
    font-size: 19.417px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item2 {
    color: #979797;
    font-family: Cairo;
    font-size: 9.708px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dv2Item1 p {
    color: #36558F;
    font-family: Cairo;
    font-size: 19.417px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn {
    border-radius: 3.236px;
    background: #D71058;
    box-shadow: 0.8090277314186096px 0.8090277314186096px 1.6180554628372192px 0px rgba(0, 0, 0, 0.25);
}

.table .tableMm {
    color: var(--gray-2, #4F4F4F);
    font-family: Cairo;
    font-size: 9.708px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table .tableName {
    color: var(--gray-2, #4F4F4F);
    font-family: Cairo;
    font-size: 12.944px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table .tableP {
    color: #000;
    font-family: Cairo;
    font-size: 11.326px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table .tableCou {
    color: #36558F;
    font-family: Cairo;
    font-size: 12.944px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table .tableUser {
    color: var(--gray-3, #828282);
    font-family: Cairo;
    font-size: 12.944px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item4Title {
    color: #36558F;
    font-family: Cairo;
    font-size: 19.417px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.itemCou {
    border-radius: 6.472px;
    background: #FFF;
    box-shadow: 0px 1.6180554628372192px 1.6180554628372192px 0px rgba(0, 0, 0, 0.25);
}

.table .bgCoursename {
    border-radius: 6.472px;
    background: rgba(130, 172, 245, 0.46);
}

.itemFeatP {
    color: #000;
    font-family: Cairo;
    font-size: 11.326px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.itemFeatNa {
    color: var(--gray-2, #4F4F4F);
    font-family: Cairo;
    font-size: 11.326px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemFeatDes {
    color: #000;
    font-family: Cairo;
    font-size: 15.944px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hnCoursename{
    color: var(--gray-3, #828282);
font-family: Cairo;
font-size: 11.326px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.mini-calendar {
    height: 100px;
    font-size: 12px;
  }
  
  .mini-calendar .react-calendar__navigation,
  .mini-calendar .react-calendar__month-view__days {
    padding: 0;
    margin: 0;
  }
  
  .mini-calendar .react-calendar__tile--now {
    background-color: #36558F;
    color: #fff;
  }