 /* Individual bars */
 .bar-5 {
     width: 100%;
     height: 18px;
     background-color: #36558F;
     border-radius: 4.946px;
 }

 .bar-4 {
     width: 80%;
     height: 18px;
     background-color: #36558F;
     border-radius: 4.946px;
 }

 .bar-3 {
     width: 60%;
     height: 18px;
     background-color: #36558F;
     border-radius: 4.946px;
 }

 .bar-2 {
     width: 40%;
     height: 18px;
     background-color: #36558F;
     border-radius: 4.946px;
 }

 .bar-1 {
     width: 10%;
     height: 18px;
     background-color: #36558F;
     border-radius: 4.946px;
 }


 .item-name {
     color: var(--light-text-secondary, rgba(0, 0, 0, 0.60));
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: Cairo;
     font-size: 34.619px;
     font-style: normal;
     font-weight: 400;
     line-height: 143%;
     /* 49.505px */
     letter-spacing: 0.42px;
     text-transform: capitalize;
 }

 .item-rt {
     color: var(--light-text-primary, rgba(0, 0, 0, 0.87));
     font-feature-settings: 'clig' off, 'liga' off;

     /* Typography/H5 */
     font-family: Roboto;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: 133.4%;
     /* 32.016px */
 }

 .item-rev {
     color: #D81159;
     font-feature-settings: 'clig' off, 'liga' off;
     font-family: Cairo;
     font-size: 29.674px;
     font-style: normal;
     font-weight: 700;
     line-height: 166%;
     /* 49.258px */
     letter-spacing: 0.989px;
 }

 .item-bg-rt {
     background-color: rgb(247, 244, 241);
     border-radius: 5px;
 }